name: Docker

on:
  push:
    branches: [master]

permissions:
  contents: read

jobs:
  docker:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - context: .
            tag: 3.82.1-java17-ubi

      fail-fast: false

    name: Docker (dockette/nexus:${{ matrix.tag }})

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ${{ matrix.context  }}
          push: true
          tags: dockette/nexus:${{ matrix.tag }}
          platforms: linux/amd64
          build-args: |
            NEXUS_VERSION=${{ matrix.tag }}
